<!DOCTYPE html>
<html>

<head>

  <title>
    Easy Park
  </title>
  <!-- Here I need to paste my header -->
  <%- include('layouts/header'); -%>

</head>

<body>
  <div class="hero_area">
    <%- include('layouts/navbar'); -%> 

  </div>
  <!-- end hero area -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Offers
        </h2>
      </div>
      <div class="row">
       <% for (var i=0; i < slots.length; i++) {%>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src= <%=slots[i].path%> alt="">
              </div>
              <div class="detail-box">
                <h6>
                  <%=slots[i].name %>
                </h6>
                <h6>
                  Price
                  <span>
                    £<%=slots[i].price %>
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
            <form action= <%= "/slot/delete/"+slots[i]._id %> method = "GET">
                <button type="submit">Delete</button>
            </form>    
            <form action= <%= "/updateSlotForm/"+slots[i]._id %> method = "GET">
              <button type="submit">Update</button>
          </form>
        </div>
          <% } %>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View All Slots
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- info section -->

  <section class="info_section  layout_padding2-top">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              Ready to experience stress-free parking? Contact us for inquiries, reservations, or assistance. Our dedicated team is here to make your parking experience exceptional.

Thank you for choosing Easy Park. We look forward to being a reliable partner in your journey.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form ">
              <h5>
                Newsletter
              </h5>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
            <p>
              Should you need any help with making a reservation or troubleshooting, our dedicated team will be right there to assist you.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> GB Rd 123 London UK </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+01 12345678901</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> demo@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <%- include('layouts/footer'); -%>
    <!-- footer section -->

  </section>

  <!-- end info section -->


  <%- include('layouts/scripts'); -%>
</body>

</html>